@charset "utf-8";
/*
Theme Name: BIKEN Bridal 2014
Theme URI:
Description: 美研ブライダル
Author: DAWN Inc.
Version: 1.0
*/

/*以降、カスタマイズ領域*/

/*//////////////////////////////
 * CSS インポート
 /////////////////////////////*/
@import url('css/common_pc.css');
@import url('css/style_about_pc.css');
@import url('css/style_access_pc.css');
@import url('css/style_form_pc.css');
@import url('css/style_form_fair_pc.css');
@import url('css/style_index_pc.css');
@import url('css/style_location_pc.css');
@import url('css/style_plan_pc.css');
@import url('css/style_venue_pc.css');
@import url('css/style_info_pc.css');

/* ---------------------------------------------
*   wysiwyg (Wordpress案件以外は削除すること)
--------------------------------------------- */
.wysiwyg:after {
	content: "";
	display: block;
	clear: both;
}
@media screen and (max-width: 738px) {
	.wysiwyg.al_center {
		text-align: left !important;
	}
}

/*  wordpress class
--------------------------------------------- */
.wysiwyg img.alignleft {
    float: left;
    margin-right: 50px;
}

.wysiwyg img.alignright {
    float: right;
    margin-left: 50px;
}

.wysiwyg img.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 738px) {
    .wysiwyg img.alignleft {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .wysiwyg img.alignright {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
}


/* wysiwyg default
--------------------------------------------- */
.wysiwyg sup {
	vertical-align: super;
	font-size: smaller;
}
.wysiwyg sub {
	vertical-align: sub;
	font-size: smaller;
}
.wysiwyg h1 {
	font-size: 2em;
}
.wysiwyg h2 {
	font-size: 1.5em;
}
.wysiwyg h3 {
	font-size: 1.17em;
}
.wysiwyg h4 {
	font-size: 100%;
}
.wysiwyg h5 {
	font-size: 0.83em;
}
.wysiwyg h6 {
	font-size: 0.67em;
}
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
	font-weight: bold;
}
.wysiwyg i,
.wysiwyg strong {
	font-weight: bold;
}
.wysiwyg p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.wysiwyg em {
	font-style: italic;
}
.wysiwyg a {
	color: #43a0c0;
	text-decoration: underline;
}
.wysiwyg a:hover {
	text-decoration: none;
}
.wysiwyg ul {
	list-style-type: disc;
	padding-left: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.wysiwyg ol {
	list-style-type: decimal;
	padding-left: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.wysiwyg li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.wysiwyg blockquote {
	margin: 1.12em 0;
}
